@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.todos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo {
  background-color: $color-2;
  padding: 1rem;

  &__title {
    cursor: pointer;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      width: 1.5rem;
      height: 1.5rem;
      display: inline-block;
      margin-right: 0.5rem;
      background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTMzLjE3IDE3LjE3bC05LjE3IDkuMTctOS4xNy05LjE3LTIuODMgMi44MyAxMiAxMiAxMi0xMnoiLz48cGF0aCBkPSJNMCAwaDQ4djQ4aC00OHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=") center center no-repeat;
      background-size: contain;
    }

    &--active::before {
      transform: rotate(180deg);
    }
  }

  &__priority {
    margin-right: 0.5rem;
  }

  &__details {
    border-top: 2px solid $text-color;
    padding-top: 0.5rem;
    display: none;
    gap: 0.5rem;

    &--active {
      display: flex;
    }
  }

  &__controls, &__content {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__edit {
    @include edit;
    width: 2rem;
    height: 2rem;
  }

  &__flag {
    @include control-button;
    background-image: url("../../assets/flag.svg");

    &--active {
      opacity: 1;
    }
  }

  &__completed {
    @include control-button;
    background-image: url("../../assets/complete.svg");

    &--active {
      opacity: 1;
    }
  }

  &__delete {
    @include control-button;
    background-image: url("../../assets/delete.svg");

    &:hover {
      opacity: 1;
    }
  }

  &__url {
    font-weight: bold;

    & a {
      font-weight: normal;
      @include links-on-accent;
      color: $text-color;
    }
  }

  &__due-date {
    font-weight: bold;

    & time {
      font-weight: normal;
    }
  }

  &__tags {
    @include tags-container;
  }

  &__tag {
    @include tag;
  }
}

.todo-modal {
  &__title {
    margin-bottom: 1rem;
  }


  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & textarea {
    resize: vertical;
  }
}