@use 'variables' as *;
@use 'mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: 100 svh;
  color: $text-color;
  background-color: $background-color;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h2 {
  font-size: 1.2rem;
}

.container {
  min-height: 100vh;
  min-height: 100 svh;
  height: 100%;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
                      "nav header"
                      "nav main"
                      "nav footer";
}

.header {
  grid-area: header;
  padding: 1rem;
  background-color: $color-3;

  &__title {
    color: $background-color;
    text-shadow: 0 0 5px $text-color;
    text-align: center;
    font-size: 1.5rem;
  }
}

.content {
  grid-area: main;
  padding: 1rem;
  //background-color: salmon;
}

.footer {
  background-color: $color-3;
  color: $background-color;
  grid-area: footer;
  padding: 1rem;

  &__made-by {
    text-align: center;
  }

  & a, & a:visited {
    @include links-on-accent;
  }
}

.styled-input {
  border: 2px solid $color-3;
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;

  &::placeholder {
    color: $color-3;
    opacity: 0.5;
  }
}

.button {
  min-width: 120px;
  background-color: $color-3;
  padding: 0.5rem 1rem;
  color: $background-color;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: filter ease-in-out 400ms;

  &:hover {
    filter: brightness(1.2) drop-shadow(0 0 2px $text-color);
  }

  &:active {
    filter: brightness(0.95);
  }
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.input-wrapper {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.input-column-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & label {
    font-weight: bold;
  }
}

.modal {
  border: none;
  width: clamp(320px, 50vw, 640px);

  &::backdrop {
    backdrop-filter: blur(4px) brightness(0.8);
  }
}