@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.navigation {
  background-color: $color-2;
  grid-area: nav;
  padding: 1rem;
}

.projects {

  & h2 {
    margin-bottom: 1rem;
  }

  &__list {
    @include reset-list;
  }

  &__item {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 4px;
  }

  &__select {
    //height: 100%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1rem;

    &::before {
      content: '';
      font-size: 1.1rem;
      font-weight: bold;
      display: inline-block;
      width: 2ch;
      margin-right: 4px;
    }

    &--active {
      font-weight: bold;
    }

    &--active::before, &:hover::before {
      content: '✓ ';
    }

    &:not(.projects__select--active):hover::before {
      opacity: 0.3;
    }
  }

  &__edit {
    @include edit;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem
}

.filters {

  & h2 {
    margin-bottom: 1rem;
  }

  &__tags-container {
    @include tags-container;
  }

  &__tag {
    @include tag;
  }

  &__state {
    display: flex;
    flex-direction: column;

    & .input-wrapper {
      margin-bottom: 0.5rem;
    }
  }
}